* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hamburger_button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  z-index: 999;
  padding: 0;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
 
.hamburger_button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}
.hamburger_button, .hamburger_button span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.hamburger_button span:nth-of-type(1) {
  top: 0;
}
.hamburger_button span:nth-of-type(2) {
  top: 20px;
}
.hamburger_button span:nth-of-type(3) {
  bottom: 0;
}

/*=============================
#btn01
=============================*/
#btn01.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#btn01.active span:nth-of-type(2) {
  opacity: 0;
}
#btn01.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}


nav {
  width: 100%;
  height: auto;
  background-color: transparent;
  z-index: auto;
}

.nav-items {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 16px 20px;
}

.nav-items__item a {
  color: black;
  font-size: 18px;
  display: block;
  text-align: center;
  margin-bottom: 0;
}

/* ===== スマホサイズ（768px以下）のときのレイアウト ===== */
@media screen and (max-width: 768px) {

  .hamburger_button {
    display: inline-block;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #c1c1c1;
    transition: ease .4s;
    z-index: 888;
    transform: translateX(100%);
  }

  nav.active {
    transform: translateX(0);
  }

  .nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-items__item a {
    font-size: 22px;
    margin-bottom: 24px;
  }
}
