* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(130, 197, 235);
}

.hamburger_button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  z-index: 999;
  padding: 0;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}
 
.hamburger_button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.hamburger_button, .hamburger_button span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.hamburger_button span:nth-of-type(1) {
  top: 0;
}
.hamburger_button span:nth-of-type(2) {
  top: 20px;
}
.hamburger_button span:nth-of-type(3) {
  bottom: 0;
}

/*=============================
#btn01
=============================*/
#btn01.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#btn01.active span:nth-of-type(2) {
  opacity: 0;
}
#btn01.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}


.header__nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #c2c2c2;
  transition: ease .4s;
  z-index: 888;
}

.header__nav.active {
  transform: translateX(0);
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.nav-items__item a {
  color: black;
  font-size: 22px;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}
